[Unit]
Description=Control fan based on temperature.
After=multi-user.target

[Service]
Type=idle

User=root
ExecStart=/usr/bin/python3 /usr/local/bin/fancontrol.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
